<% provide(:title, @user.name) %>
<body>
<div class="row">
  <ul class="users">
    <section>
      <h5>Name: <%= @user.name %> </h5>
       <h5>Email: <%= @user.email %></h5>
       <%= link_to "Edit", edit_user_path, class: "btn btn-primary btn-primary" %>
       
      
    </section>
  </ul>
</div>

</body>