<<<<<<< HEAD
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
       <%= @user.name %>
       <%= link_to "Edit", edit_user_path, class: "btn btn-large btn-secondary" %>
      </h1>
    </section>
  </aside>
</div>

=======
<h1> Welcome </h1>
>>>>>>> fd93d8d470f2dd90da459cb99b177e1a7f15569a
