<% provide(:title, @user.name) %>
<body>
<div class="row">
  <ul class="users">
    <section>
      <h4> <%= @user.name %> <h4>
       <h4><%= @user.email %><h4>
       <% if current_user?(@user) %> <%= link_to "Edit", edit_user_path, class: "btn btn-large btn-secondary" %>
       <% end %>
      </h1>
    </section>
  </ul>
</div>

</body>