<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
       <%= @user.name %>
       <%= link_to "Edit", edit_user_path, class: "btn btn-large btn-secondary" %>
       
      </h1>
    </section>
  </aside>
</div>

