<<<<<<< HEAD
<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  
  <body>
  <div class="center hero-unit">
    <h1>Help Page</h1>
    <p>
      Help Contents
    </p>
  </div>

 </body>

</html>

=======
<h1>Help Page</h1>
<p>Help Contents</p>
>>>>>>> fd93d8d470f2dd90da459cb99b177e1a7f15569a
