<<<<<<< HEAD
<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
  <title><%= yield(:title) %></title>
  </head>

  <body>
  	<div class="center hero-unit">
  	<h2>Welcome to the Student Database</h2>

  	<br>
  	<h3> </h3>
  	<br>
  	<br>

  		</div>
	</body>
</html>
=======
<div class="center hero-unit">
  <h2>Welcome to the Student Database</h2>

  <br>
  <h3> </h3>
  <br>
  <br>

>>>>>>> fd93d8d470f2dd90da459cb99b177e1a7f15569a

  


  
<<<<<<< HEAD
=======
</div>
>>>>>>> fd93d8d470f2dd90da459cb99b177e1a7f15569a
