<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
  <title><%= yield(:title) %></title>
  </head>

  <body>
  	<div class="hero-unit">
  	<h2>Welcome to the Student Database</h2>

  	<br>
  	<h3> </h3>
  	<br>
  	<br>

  		</div>
	</body>
</html>

  


  
