<div class="center hero-unit">
  <h2>Welcome to the Student Database</h2>

  <br>
  <h3> Please, Sign In ! </h3>
  <br>
  <br>


  <%= form_tag(:controller=> 'users', :action => 'index') do %>
    <p>Username or Email:</br> <%= text_field_tag(:username_or_email) %></p> 
    <p>Password:</br> <%= password_field_tag :login_password %></p> 
    <%= submit_tag("Log In") %>
  <% end %>


  
</div>